/* src/components/Info.css */

@media only screen and (min-width: 599px) {

    .info-page {
        /* max-width: 800px; */
        margin: 150px 30px;
        /* text-align: center; */
    }

    .section-body {
        flex: 1;
    }

    .section-body, .section-headline {
        font-size: var(--font-size);
    }

}

@media only screen and (max-width: 600px) {
    .info-page {
        /* max-width: 800px; */
        margin: 150px 10px;
        /* text-align: center; */
    }

    .section-body {
        flex: 2;
    }

    .section-body, .section-headline {
        font-size: 16px;
    }

}



.info-section {
    margin-bottom: 22px;
    /* border-top: 1px solid #000; */
    padding-top: 6px;
    display: flex;
    align-content: left;
}

.section-headline {
    font-weight: normal;
    text-align: left;
    margin-bottom: 10px;
    text-transform: uppercase;
    flex: 1;
}

.section-body {
    white-space: pre-wrap;
    line-height: 1.2;

}

.info-section p {
    /* margin: 0 0 2px 0; */
}

