/* src/components/Info.css */

  

.info-page {
    max-width: 600px;
    margin:  0px  0px 0px  var(--margin-left);
    /* Center the content horizontally and add space from the top */
    /* padding: 20px; */
    /* font-weight: bold; */
    font-family: var(--sans);
}

.info-section {
    margin-bottom: 22px;
    /* margin-top: 50px; */
}

.section-headline {
    font-weight: normal;
    font-size: var(--font-size);
}

.section-body {
    white-space: pre-wrap;
    font-size: var(--font-size);
    line-height: 1.2;
    
}

.info-section p {
    /* margin: 2px 0; */
}

footer {
    margin-top: 200px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #3e3e3e;
}


@media only screen and (max-width: 599px) {
    .info-page {
        margin: 0px 10px;
    }

    .info-page-wrapper {
        margin-top: var(--top-margin);
        /* margin-top: 50px; */
    }
    
    
  }