/* Navigation Styles */
.navigation {
    position: fixed;
    top: 10px; /* Align to the top */
    left: 10px; /* Align to the left */
    z-index: 10; /* Ensure it's on top of other elements */
    mix-blend-mode: multiply;
    font-size: var(--font-size);
    line-height: 1.2;
}

.navigation-wrapper {
    text-align: left;
    font-family: var(--sans);
    letter-spacing: -0.2pt;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation ul li:active {
    opacity: 0.5;
}

.active-link {
    /* font-weight: bold; */
}

/* Thumbnails Toggle Link Styles */
.top-right {
    position: fixed;
    top: 10px;
    right: 10px;
}

#toggle-view-link {
    font-size: var(--font-size);
    text-decoration: none;
    font-family: var(--sans);
}

#toggle-view-link:hover {
    color: #000;
}

/* Image Info Styles */
.image-info-wrapper {
    position: fixed;
    top: 10px; /* Align it to the top of the screen */
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Set width to 100% to span across the page */
    max-width: 800px; /* Optional: Limit the max width if needed */
    font-size: var(--font-size);
    mix-blend-mode: multiply;
    z-index: 10; /* Ensure it's above other content if needed */
    text-align: center; /* Center-align the text content */
    font-family: var(--sans);
}

.image-info {
    text-align: center;
    position: relative;
}

/* Slide number styles */
#slide-number {
    font-feature-settings: 'tnum' 1; /* Enables tabular figures */
}

#slide-number span {
    margin: 0 2px;
}

#slide-number .active-slide-number {
    text-decoration: underline;
}