
@media only screen and (min-width: 599px) {
  .image-container img {
    max-height: 65svh;
  }

}

@media only screen and (max-width: 600px) {
  .image-container img {
    max-height: 55svh;
  }
}


.slideshow-container {
  position: relative;
  height: 100svh; 
  /* min-height: 100vh;  */
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh; 
  /* min-height: 100vh;  */
  z-index: 3;
  display: flex;
  user-select: none;
    touch-action: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(57, 51, 51, 0);
}

.left-half,
.right-half {
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100svh;
}

.left-half {
  left: 0;
  cursor: w-resize; 
}

.right-half {
  right: 0;
  cursor: e-resize; 
}

.image-container {
  z-index: 2;
  display: flex;
  padding: 10px;
}

.image-container img {
  max-width: 100%;
  object-fit: contain;
  border-radius: 3px;
  margin-bottom: 10px;
}

/* Circle for hover effect */
.hover-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  z-index: 1;
}

/* Circle on the left side of the screen */
.hover-circle.left {
  left: 40vw;
  top: 10px;
}

/* Circle on the right side of the screen */
.hover-circle.right {
  left: 60vw;
  top: 10px;
}



