* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
  border: none;
}

@font-face {
  font-family: Roman;
  src: url(../public/Implicit-Upright-VF-Web.woff2);
}

@font-face {
  font-family: Sabon;
  src: url(../public/SabonLTStd-Roman.otf);
}

@font-face {
  font-family: AG;
  src: url(../public/AkzidenzGroteskPro-Md.otf);
}



html, body {
  height: 100%;
  /* font-family: var(--font-family); */
}

ul, ol {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  color: inherit;
  border: none;
  outline: none;
}

button, input {
  box-sizing: border-box;
}
