* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
  border: none;
}

@font-face {
  font-family: Roman;
  src: url(../public/Implicit-Upright-VF-Web.woff2);
}

html, body {
  height: 100%;
  font-family: var(--font-family);

}

ul, ol {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  color: inherit;
  border: none;
  outline: none;
}

button, input {
  box-sizing: border-box;
}

.threshold-wrapper {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  filter: blur(var(--threshold-blur)) contrast(var(--threshold-contrast));
  letter-spacing: -0.5px;
  background-color: white; 
  mix-blend-mode: multiply;
  padding: 10px;
  line-height: 1.1;
}

.threshold-wrapper ::selection {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.margin-wrapper {
  /* margin-top: 50px; */
}