body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  /* Enable scrolling */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  line-height: 1.2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

body ::selection {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

img ::selection {
  background-color: rgb(239, 0, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --font-weight: bold;
  --spacing: 1.5rem;
  --threshold-blur: 0.5px;
  --threshold-contrast: 100;
  --grey: rgb(0, 0, 0);
  --font-family: Sabon;
  --bottom-padding: 50px;
  --active-grey: #484848;
  --margin-left: 200px;
  --sans: AG;
  --serif: Sabon;
}

@media only screen and (max-width: 599px) {
  :root {
    --font-size-body: 14px;
    --font-size: 14px;
    --top-margin: 180px;
  }
  .margin-wrapper {
    margin: 10px;
  }
  
}

@media only screen and (min-width: 600px) {
  :root {
    --font-size-body: 14px;
    --font-size: 14px;
    --top-margin: 150px;
    --max-page-width: 1200px;
  }

  .margin-wrapper {
    margin: 0px 30px;
  }

}

::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}


.threshold-wrapper {
  /* font-weight: var(--font-weight);
  font-size: var(--font-size);
  filter: blur(var(--threshold-blur)) contrast(var(--threshold-contrast));
  background-color: white;
  mix-blend-mode: multiply; */
  letter-spacing: -0.3px;
  padding: 10px;
}

.threshold-wrapper ::selection {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
